*{
  font: "Copperplate", serif;
}
head{
  margin:0;
  padding:0;
}
body{
  margin:0;
  padding:0;
}

.infotop{
  list-style: none;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  font-size: 85%;
  text-shadow: 1px 1px black;

}
.logobox{
  background-color: grey;
  height: 100px;
}
.box1{
  height: 40px;
  padding-top: 10px;
  background-color:#ff9639
}
.navbox{
  height: 130px;
  padding-top:10px;
  background-color:#ff9639;

}
.navbox li {
  font-size: 150%;
  padding: 6px;
}
.left{
  display: flex;
  flex-direction: column;
  float: left;
  align-items: center;
  padding-left: 40px;


}
.right{
  display: flex;
  flex-direction: column;
  float: right;
  align-items: center;
  padding-right: 40px;


}
.navbar{
  list-style: none;
  color: white;
  align-items: center;
  margin:0;
  padding: 0;
  text-shadow: 1px 1px black;


}
.emailbox{
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #51708B

}
.email{
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-around;
  font-size: 150%;
  text-shadow: 1px 1px black;

}
.welcomebox{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #51708B
}
.welcome{
  color: white;
  text-align: center;
  margin: 10px;
}
.learn{
  text-align: center;
}
.menubox{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: yellow;
  text-align: center;
  font-size: 130%;
  color: black;
}
.menulink{
  color: black;
}
.busbox{
  background-color: #795C45;
  text-align:center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  text-shadow: 1px 1px black;
  font-size: 120%;
}
span .hours{
  padding: 10px;
}





.infobottom{
  list-style: none;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  font-size: 85%;
  text-shadow: 1px 1px black;

}
.boxbottom{
  height: 40px;
  background-color:#ff9639;
}
